<!-- Include header -->
<%- include("partial/mainHeader.ejs") %>
<!-- /Include header -->

<div class="container mt-4 d-flex justify-content-between">
  <div>
    <a href="/all" class="btn btn-lg button bg-orange text-white">All Post</a>
    <a href="/add" class="btn btn-lg button bg-orange text-white">Add Post</a>
  </div>
  <a href="/logout" class="btn btn-lg button bg-orange text-white">Logout</a>
</div>

<div class="container my-5 d-flex justify-content-around orange-border p-3">
  <% if(paginationDetails.before){ %>
    <a href="/profile/<%= paginationDetails.current-1 %>" class="btn btn-lg button bg-orange text-white">Previous</a>
  <% }else{ %>
    <a class="btn btn-lg button bg-orange text-white disabled">Previous</a>
  <% } %>
  <a href="" class="btn btn-lg button bg-orange text-white inactivate"><%= paginationDetails.current %></a>
  <% if(paginationDetails.after){ %>
    <a href="/profile/<%= paginationDetails.current+1 %>" class="btn btn-lg button bg-orange text-white">Next</a>
  <% }else{ %>
    <a class="btn btn-lg button bg-orange text-white disabled">Next</a>
  <% } %>
  </div>

<div class="container my-4">
  <% if(errorMessage) { %>
      <p class="error fw-bold lead"><%= errorMessage %></p>
  <% } %>
  <div class="row">
  <% if(!postData.length) { %>
      <h2 class="error fw-bold text-center mt-5 pt-5">Nothing to show !!!</h2>
  <% }else{
      postData.forEach( post => { %>
        <div class="flex-box">
          <div class="mt-3 bg-warnin d-flex align-items-center orange-border round-border p-2">
            <img style="background-image: url(/images/<%= post.image %>)" class="round-border">
            <div class="m-2">
              <p class="fs-3"><%= post.title  %></p>
              <p><%= post.description  %></p>
              <div>
                <div>
                  <% if(post.flag){ %>
                    <a class="text-decoration-none" onclick="likeDislike('<%= post._id %>')"><i class="fa-solid fa-heart fs-4 text-orange" id="<%= post._id %>_icon"></i></a></a>
                  <% } else { %>
                    <a class="text-decoration-none" onclick="likeDislike('<%= post._id %>')"><i class="fa-regular fa-heart fs-4 text-orange" id="<%= post._id %>_icon"></i></a></a>
                  <% } %>
                  <p class="text-sm" id="<%= post._id %>_count">&nbsp;<%= post.likes.length %></p>
                </div>
              </div>
              <p class="text-sm text-secondary">Post by: <%= post.postBy  %></p>
              <p class="text-sm text-secondary">Created on: <%= post.time.getDate() %>/<%= post.time.getMonth()+1 %>/<%= post.time.getFullYear() %></p>
            </div>
          </div>
        </div>
  <%  })
    } %>
  </div>
</div>

</body>
<script>
  let likeDislike = ( pid ) => {
    $.ajax({
      url: '/like',
      method: 'POST',
      data: { pid }
    })
    .done( res => {
      $(`#${pid}_count`).html(`&nbsp;${res.likeCount.count}`);
      if(res.isLiked){
        $(`#${pid}_icon`).addClass('fa-solid');
        $(`#${pid}_icon`).removeClass('fa-regular');
      }else{
        console.log('Disliked');
        $(`#${pid}_icon`).addClass('fa-regular');
        $(`#${pid}_icon`).removeClass('fa-solid');
      }
    });
  }
</script>
</html>